/* --- global --- */

/* --- banner top --- */
	#banner-top{
		background: url(../imagens/banners/banner-ambientes.jpg)no-repeat center center;
		background-size: cover;
		height: 446px;
	}	

/* --- conteudo --- */
	#conteudo .col-md-6 img{
		height: 380px;
		object-fit: cover;
	}
	#conteudo a:hover,
	a.text-primary:focus{
		color: var(--gray)!important;
	}
	#conteudo h3{
		font-size: 30px;
		letter-spacing: 1px;
	}
	#conteudo a.small{
		font-size: 15px;
	}

/* --- modal --- */
	.mod-modal .modal-lg{
		max-width: 1016px!important;
	}
	.mod-modal .carousel .carousel-item img{
		height: 674px;
		object-fit: cover;
		position: relative;
	}
	.mod-modal .carousel .carousel-item .sombra{
		background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 30%);
		width: 100%;
		height: 100%;
		opacity: 0.8;
		position: absolute;
		z-index: 99;
	}
	.mod-modal #carouselControls button.close{
		position: absolute;
	    top: 0;
	    right: 0;
		font-size: 16.76px;
		margin-top: 12px;
		margin-right: 18px;
	}
	.mod-modal #carouselControls .carousel-control-prev,
	.mod-modal #carouselControls .carousel-control-next{
		width: 10%;
		bottom: 10%;
	}
	.mod-modal .descricao h3{
		font-family: "Montserrat bold";
		font-size: 69px;
		letter-spacing: 10px;
	}
	.mod-modal .descricao p{
		font-size: 14px!important;
	}
	.mod-modal .descricao .row img{
		max-width: 82px;
		max-height: 68px;
		transition: .3s;
	}
	.mod-modal .descricao .row a img:hover{
		transition: .3s;
		transform: scale(1.04);	
	}
	
@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1440px) {
	/* conteudo */
	#conteudo .col-md-6 img{
		height: 245px;
	}
	#conteudo .w-75{
		width: 100%!important;
	}
	#conteudo .mr-auto .mx-auto{
		margin-right: 60px!important;
	}
	#conteudo .ml-auto .mx-auto{
		margin-left: 45px!important;
	}
	#conteudo h3{
		font-size: 20.14px;
	}
	#conteudo a.small{
		font-size: 10.07px;
	}

	/* modal */
	.mod-modal .modal-lg{
		max-width: 682px!important;
	}
	.mod-modal .carousel .carousel-item img{
		height: 452px;
	}
	.mod-modal .descricao h3{
		font-size: 46.32px;
	}
	.mod-modal .descricao p{
		font-size: 9.4px!important;
	}
	.mod-modal .descricao .row img{
		max-width: 54px;
		max-height: 45px;
	}
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 992px) {
	#banner-top{
		height: 298px;
	}
	#banner-top h1{
		font-size: 31.82px;
	}	
}

@media screen and (max-width: 480px) {
	#banner-top{
		height: 274px;
	}
	/* conteudo */
	#conteudo .col-md-6 img{
		height: 254px;
	}
	#conteudo .col{
		height: 147px;
	}
	#conteudo .mr-auto .mx-auto{
		margin-right: auto!important;
	}
	#conteudo .ml-auto .mx-auto{
		margin-left: auto!important;
	}
	#conteudo a.small img{
		display: none;
	}

	/* modal */
	.mod-modal .modal-lg{
		max-width: 682px!important;
	}
	.mod-modal .carousel .carousel-item img{
		height: 300px;
	}
	.mod-modal .descricao h3{
		font-size: 18px;
	}
	.mod-modal .descricao p{
		font-size: 12px!important;
	}
	.mod-modal .descricao .ml-auto{
		margin-left: auto;
		margin-right: auto;
	}
	.mod-modal .descricao .row img{
		max-width: 80px;
		max-height: 70px;
	}
}

@media screen and (max-width: 320px) {
	/* conteudo */
	#conteudo h3{
		font-size: 18px;
	}
}