/* --- global --- */

/* --- banner top --- */
	#banner-top{
		background: url(../imagens/banners/banner-blog.jpg)no-repeat center center;
		background-size: cover;
		height: 446px;
	}	

/* --- conteudo / artigos --- */
	#conteudo article h3{
		font-size: 25px;
		color: var(--gray-dark);
		letter-spacing: 10px;
		font-family: "Montserrat bold";
		line-height: 30px;
	}
	#conteudo article p.text-primary{
		letter-spacing: 8px;
	}
	#conteudo article p{
		font-size: 14px;
		color: var(--gray);
	}
	#conteudo article .float-left p{
		font-size: 14px;
		font-family: "Montserrat bold";
		margin-left: 18px;
	}
	#conteudo article .float-right p{
		font-size: 14px;
		background-color: var(--gray-dark);
		padding: 11px 26px;
	}
	
	#conteudo .paginacao span{
		font-size: 14px;
	}
	
/* --- conteudo / aside --- */
	::placeholder{
		color: #cecece!important;
	}
	#conteudo #aside .form-control{
		font-size: 14px;
		color: #b7b7b7;
		max-height: 32px;
	}
	#conteudo #aside input.customDropdown{
		background : url(../imagens/logos/loupe.png) no-repeat 96% #eeeeee;
		-webkit-appearance: none;
		   -moz-appearance: none;
		    -ms-appearance: none;
		     -o-appearance: none;
	}
	#conteudo #aside .form-control:focus{
		box-shadow: none;
	}
	#conteudo #aside h3{
		font-size: 25px;
		color: var(--gray-dark);
		font-family: "Montserrat bold";
		letter-spacing: 10px;
	}
	#conteudo #aside ul.lista,
	#conteudo #aside ul.arquivos{
		list-style: none;
	}
	#conteudo #aside ul.lista li::before {
	  content: "\2022";
	  color: var(--gray);
	  width: 1px;
	  padding-right: 3px;
	}
	#conteudo #aside ul.lista li{
		line-height: 20px;
	}
	#conteudo #aside .lista a{
		font-size: 14px;
	}
	#conteudo #aside .lista a:hover{
		color: var(--primary-color);
	}

	#conteudo #aside ul.arquivos li a{
		color: var(--gray-dark)!important;
		font-family: "Montserrat bold";
		letter-spacing: 6px;
		font-size: 14px;
	}

@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 992px) {
	#banner-top{
		height: 300px;
	}
	#banner-top h1{
		font-size: 31.52px;
	}

	/* conteudo / artigos */
	#conteudo article h3{
		font-size: 17.16px;
		letter-spacing: 7px;
	}
	#conteudo article p.text-primary{
		font-size: 9.61px;
	}
	#conteudo article p{
		font-size: 9.61px;
	}
	#conteudo article .float-left p{
		font-size: 9.61px;
	}
	#conteudo article .float-left img{
		width: 36px;
	}
	#conteudo article .float-right p{
		font-size: 9.61px;
		padding: 9px 19px;
	}
	#conteudo .paginacao span{
		font-size: 9.61px;
	}
	#conteudo .paginacao img{
		width: 12px;
	}

	/* --- conteudo / aside --- */
	#conteudo #aside .form-control{
		font-size: 9.61px;
		max-height: 22px;
	}
	#conteudo #aside input.customDropdown{
		background-size: 14px;
	}
	#conteudo #aside h3{
		font-size: 17.16px;
		letter-spacing: 7px;
	}
	#conteudo #aside .lista a{
		font-size: 9.61px;
	}
	#conteudo #aside ul.lista li{
		line-height: 10px;
	}
	#conteudo #aside ul.arquivos li{
		line-height: 8px;
	}
	#conteudo #aside ul.arquivos li a{
		font-size: 9.16px;
		letter-spacing: 4px;
	}
}

@media screen and (max-width: 480px) {
	#banner-top{
		height: 278px;
	}
	#banner-top h1{
		font-size: 21.31px;
	}

	/* conteudo / artigos */
	#conteudo article h3{
		font-size: 11.68px;
		letter-spacing: 5px;
		line-height: 20px;
	}
	#conteudo article p.text-primary{
		font-size: 6.54px;
	}
	#conteudo article p{
		font-size: 6.54px;
	}
	#conteudo article .float-left p{
		font-size: 6.54px;
	}
	#conteudo article .float-left img{
		width: 25px;
	}
	#conteudo article .float-right p{
		font-size: 6.54px;
		padding: 9px 19px;
	}
	#conteudo .paginacao span{
		font-size: 6.54px;
	}
	#conteudo .paginacao img{
		width: 8px;
	}

	/* --- conteudo / aside --- */
	#conteudo #aside{
		padding-left: 60px;
		padding-right: 60px;
	}
}

@media screen and (max-width: 320px) {
	/* conteudo / artigos */
	#conteudo article h3{
		letter-spacing: 3px;
		line-height: 16px;
	}
	#conteudo article p.text-primary{
		font-size: 6.54px;
		letter-spacing: 2px;
	}
	#conteudo article .float-left p{
		font-size: 6.54px;
	}
	#conteudo article .float-left img{
		width: 20px;
	}

	/* --- conteudo / aside --- */
	#conteudo #aside{
		padding-left: 35px;
		padding-right: 35px;
	}
}