/* --- global --- */

/* --- banner top --- */
	#banner-top{
		background: url(../imagens/banners/banner-blog.jpg)no-repeat center center;
		background-size: cover;
		height: 446px;
	}	

/* --- conteudo / artigos --- */
	#conteudo article h3{
		font-size: 25px;
		color: var(--gray-dark);
		letter-spacing: 10px;
		font-family: "Montserrat bold";
		line-height: 30px;
	}
	#conteudo article p.text-primary{
		letter-spacing: 8px;
	}
	#conteudo article p{
		font-size: 14px;
		color: var(--gray);
	}
	#conteudo article .float-left p{
		font-size: 14px;
		font-family: "Montserrat regular";
		letter-spacing: 6px;
	}
	#conteudo article .float-left p.font-weight-bold{
		font-family: "Montserrat bold";
	}
	#conteudo article .float-left p .bulet{
		font-size: 12px;
	}

	#conteudo .compartilhe{
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 4px;
	}
	#conteudo .compartilhe:before{
		content: '\00b7'; 
		margin-left: 20px;
		margin-right: 20px;
		top: 0px;
		font-size: 20px;
		color: var(--primary-color);
	}

	#conteudo article .float-right p{
		font-size: 14px;
		background-color: var(--gray-dark);
		padding: 11px 26px;
	}
	
	#conteudo .paginacao span{
		font-size: 14px;
	}
	
/* --- conteudo / aside --- */
	#conteudo #aside .form-control{
		font-size: 14px;
		color: #b7b7b7;
		background-color: #eeeeee;
		max-height: 32px;
	}
	#conteudo #aside input.customDropdown{
		background : url(../imagens/logos/loupe.png) no-repeat 96% #eeeeee;
		-webkit-appearance: none;
		   -moz-appearance: none;
		    -ms-appearance: none;
		     -o-appearance: none;
	}
	#conteudo #aside .form-control:focus{
		box-shadow: none;
	}
	#conteudo #aside h3{
		font-size: 25px;
		color: var(--gray-dark);
		font-family: "Montserrat bold";
		letter-spacing: 10px;
	}
	#conteudo #aside ul.lista,
	#conteudo #aside ul.arquivos{
		list-style: none;
	}
	#conteudo #aside ul.lista li::before {
	  content: "\2022";
	  color: var(--gray);
	  width: 1px;
	  padding-right: 3px;
	}
	#conteudo #aside ul.lista li{
		line-height: 20px;
	}
	#conteudo #aside .lista a{
		font-size: 14px;
	}
	#conteudo #aside .lista a:hover{
		color: var(--primary-color);
	}

	#conteudo #aside ul.arquivos li a{
		color: var(--gray-dark)!important;
		font-family: "Montserrat bold";
		letter-spacing: 6px;
		font-size: 14px;
	}

/* --- receba novidades --- */
	#novidades .form-control{
		color: #cecece;
		max-height: 34px;
	}
	#novidades input.customDropdown{
		background : url(../imagens/logos/right-arrow-orange.png) no-repeat 96% #fff;
		background-size: 12px;
		-webkit-appearance: none;
		   -moz-appearance: none;
		    -ms-appearance: none;
		     -o-appearance: none;
	}
	.form-control:focus{
		box-shadow: none;
	}
	::placeholder{
		color: #cecece!important;
	}
	#novidades .row p{
		font-size: 14px;
		letter-spacing: 6px;
	}

/* --- comentarios --- */
	#comentarios h3{
		font-size: 25px;
		letter-spacing: 10px;
	}
	#comentarios p{
		font-size: 14px;
	}
	#comentarios p.nome{
		font-family: "Montserrat bold";
		letter-spacing: 6px;
	}
	#comentarios p.descricao{
		margin-right: 200px;
		letter-spacing: 1px;
	}
	#comentarios input{
		background-color: #eaeaea;
		max-height: 38px;
	}
	#comentarios textarea{
		background-color: #eaeaea;
		max-height: 201px;
	}
	#comentarios button.btn{
		height: 29px;
		width: 106px;
		font-size: 14px;
		padding: 4px 10px 2px 10px;
	}

@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	/* novidades */
	#novidades p{
		font-size: 10.22px;
	}
}

@media screen and (max-width: 992px) {
	#banner-top{
		height: 300px;
	}
	#banner-top h1{
		font-size: 31.52px;
	}

	/* conteudo / artigos */
	#conteudo article h3{
		font-size: 16.57px;
		letter-spacing: 6px;
	}
	#conteudo article p.text-primary{
		font-size: 9.61px;
	}
	#conteudo article .float-left p{
		font-size: 9.28px;
		letter-spacing: 3px;
	}
	#conteudo article p{
		font-size: 9.28px;
	}
	#conteudo article .float-right p{
		font-size: 9.28px!important;
		padding: 8px 19px!important;
		margin-top: 10px;
	}
	#conteudo .mod-redes img{
		width: 35px;
	}
	#conteudo .compartilhe{
		font-size: 9.28px;
	}

	/* conteudo / aside */
	#conteudo #aside .form-control{
		font-size: 9.61px;
		max-height: 22px;
	}
	#conteudo #aside input.customDropdown{
		background-size: 14px;
	}
	#conteudo #aside .form-control:focus{
		box-shadow: none;
	}
	#conteudo #aside h3{
		font-size: 17.16px;
		letter-spacing: 7px;
	}
	#conteudo #aside .lista a{
		font-size: 9.61px;
	}
	#conteudo #aside ul.lista li{
		line-height: 10px;
	}
	#conteudo #aside ul.arquivos li{
		line-height: 8px;
	}
	#conteudo #aside ul.arquivos li a{
		font-size: 9.16px;
		letter-spacing: 4px;
	}

	/* receba novidades */
	#novidades .row p{
		font-size: 9.28px;
	}
	#novidades .form-group{
		margin-top: -8px;
	}
	#novidades .form-control{
		max-height: 24px;
		font-size: 9.28px;
	}
	#novidades input.customDropdown{
		background-size: 10px;
	}
	
	/* --- comentarios --- */
	#comentarios h3{
		font-size: 16.57px;
	}
	#comentarios p{
		font-size: 9.28px;
	}
	#comentarios p.nome{
		letter-spacing: 5px;
	}
	#comentarios p.descricao{
		margin-right: 100px;
	}
	#comentarios input{
		max-height: 24px;
		font-size: 9.28px;
	}
	#comentarios textarea{
		height: 133px;
		font-size: 9.28px;
	}
	#comentarios button.btn{
		width: 70px;
		height: 20px;
		font-size: 9.28px;
	}
	#comentarios button img{
		width: 8px;
		margin-left: 14px!important;
		margin-top: -2px;
	}
}

@media screen and (max-width: 480px) {
	#banner-top{
		height: 304px;
	}
	#banner-top h1{
		font-size: 30.44px;
	}

	/* conteudo / artigos */
	#conteudo article h3{
		font-size: 13.97px;
		letter-spacing: 6px;
	}
	#conteudo article .float-left p{
		font-size: 7.82px;
	}
	#conteudo article .float-right p{
		font-size: 8.19px!important;
		padding: 7px 17px!important;
	}
	#conteudo .mod-redes{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	/* receba novidades */
	#novidades .row p{
		line-height: 12px;
		letter-spacing: 6px;
	}
	#novidades .form-group{
		margin-top: 1px;
		margin-right: 5px;
	}
	
	/* --- comentarios --- */
	#comentarios h3{
		letter-spacing: 7px;
	}
}

@media screen and (max-width: 320px) {
	/* conteudo / artigos */
	#conteudo article h3{
		letter-spacing: 3px;
	}
	#conteudo article .float-left p{
		font-size: 7px;
		letter-spacing: 2px;
	}
	#conteudo article .float-right p{
		padding: 7px 12px!important;
	}
	#conteudo .mod-redes{
		width: 100%;
	}
	#conteudo .mod-redes img{
		width: 30px;
	}
	#conteudo .compartilhe{
		font-size: 9px;
	}

	/* receba novidades */
	#novidades .row p{
		letter-spacing: 4px;
	}
	
	/* --- comentarios --- */
	#comentarios h3{
		letter-spacing: 4px;
	}
}