/* --- global --- */

/* --- banner top --- */
	#banner-top{
		background: url(../imagens/banners/banner-contato.jpg)no-repeat center center;
		background-size: cover;
		height: 446px;
	}	

/* --- conteudo --- */
	.container-interno{
		max-width: 470px;
	}
	#conteudo .container-interno h2{
		font-size: 25px;
		letter-spacing: 10px;
	}
	#conteudo .container-interno p{
		font-size: 14px;
	}
	#conteudo .container-interno p.mod-fale{
		letter-spacing: 1px;
	}
	#conteudo input{
		background-color: 
		height: 34px;
	}
	#conteudo textarea{
		height: 200px;
	}
	#conteudo .form-control{
		background-color: #eaeaea;
	}
	::placeholder{
		color: #cecece!important;
	}
	#conteudo button.btn{
		font-size: 14px;
		height: 29px;
		width: 106px;
		padding: 4px 10px 2px 10px;
	}

	#conteudo .bg-redes{
		background: url(../imagens/background/bg-fale-conosco.jpg)no-repeat center center;
		background-size: cover;
	}
	#conteudo .list{
		list-style: none;
	}

@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 992px) {
	#banner-top{
		height: 298px;
	}	
	/* conteudo */
	#conteudo .container-interno h2{
		font-size: 18.51px;
		letter-spacing: 8px;
	}
	#conteudo input,
	#conteudo textarea{
		font-size: 10.37px;
	}
	#conteudo input{
		height: 28px;
	}
	#conteudo textarea{
		height: 148px;
	}
	#conteudo button.btn{
		font-size: 10.37px;
		width: 78px;
		height: 22px;
		padding: 3px 10px 2px 10px;
	}
	#conteudo button.btn img{
		width: 10px;
	}
	#conteudo .list li img{
		width: 38px;
	}
	#conteudo .list li p{
		font-size: 11.85px;
	}
}

@media screen and (max-width: 480px) {
	#banner-top{
		height: 338px;
	}
	#conteudo .container-interno h2{
		letter-spacing: 7px;
	}
}

@media screen and (max-width: 320px) {
	#conteudo .container-interno h2{
		font-size: 18px;
		letter-spacing: 4px;
		border: 1px solid red;
	}
	#conteudo .col-6{
		min-width: 100%!important;
	}
	#conteudo .list{
		padding-left: 0px;
	}
}