/*
	CSS que engloba todas as páginas
*/

@font-face {
    font-family: "Montserrat regular";
    src: url("../fonts/Montserrat-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat bold";
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: bolder;
}
@font-face {
    font-family: "Montserrat medium";
    src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
    font-family: "Montserrat extra light";
    src: url("../fonts/Montserrat-ExtraLight.ttf");
}

body{
	font-family: "Montserrat regular";
}

/* --- slick-slide --- */
	.slick-slide {
		margin: 0px 5px;
	}
	.btn-slick-carousel-left,
	.btn-slick-carousel-right{
		position: absolute;
		z-index: 1000;
		top: 45%;
	}
	.btn-slick-carousel-left{
		left: -30px;
	}
	.btn-slick-carousel-right{
		right: -30px;
	}

/* --- outros --- */
	.container{
		max-width: 1010px!important;
	}

	a:hover{
		text-decoration: none;
	}
	:root{
		--primary-color:#e0833f;
		--secondary-color:#3b3536;
		--gray:#88797c;
		--gray-dark:#4f494a;
	}

	.bg-primary{
		background-color: var(--primary-color)!important;
	}
	.bg-secondary{
		background-color: var(--secondary-color)!important;
	}
	.bg-gray-dark{
		background-color: var(--gray-dark);
	}
	.text-primary{
		color: var(--primary-color)!important;
	}
	.text-secondary{
		color: var(--secondary-color)!important;
	}
	.text-gray{
		color: var(--gray);
	}
	.text-gray-dark{
		color: var(--gray-dark);
	}

	h2.h4{
		font-size: 25px;
		letter-spacing: 8px;
	}
	.font-weight-bold{
		font-family: "Montserrat bold"!important;
	}
	
	.text-vertical{
		transform: rotate(180deg);
		writing-mode: vertical-rl;
		font-size: 16.74px;
		letter-spacing: 8px;
	}

	#banner-top h1{
		font-size: 45px;
		font-family: "Montserrat extra light";
		letter-spacing: 5px;
	}
	#banner-top span.font-weight-bold{
		font-family: "Montserrat bold";
	}

	#breadcrumb .container{
		padding: 10px 0;
	}
	#breadcrumb img{
		margin-top: -5px;
	}

@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 992px) {
	#banner-top h1{
		font-size: 34px;
	}
	#breadcrumb .container{
		padding-top: 3px!important;
		padding-bottom: 3px!important;
	}
	#breadcrumb img{
		width: 15px;
	}
	#breadcrumb .container h6{
		font-size: 10.22px;
	}
}

@media screen and (max-width: 480px) {
	#banner-top h1{
		font-size: 33px;
	}
}

@media screen and (max-width: 320px) {
	#banner-top h1{
		font-size: 28px;
		letter-spacing: 4px;
	}	
}