/* --- header top --- */
	header #topo a img,
	header #topo a img:hover{
		transition: .3s;
	}
	header #topo a img:hover{
		transform: scale(1.1)!important;
	}

/* ---- header ---- */
	header{
		position: absolute;
		z-index: 999;
		width: 100%;
		background-color: #ccc;
		
		height: 250px;
		background: linear-gradient(180deg, rgba(0,0,0,0.7) 50%, rgba(255,255,255,0) 100%);
	}
	header #navbarSite{
		margin-top: -15px;
	}
	header nav a img{
		margin-top: -5px;
	}
	header nav a img,
	header nav a img:hover{
		transition: .3s;
	}
	header nav .navbar-nav a img:hover{
		transform: scale(1.1);
	}
	header nav a.nav-link{
		color: var(--white)!important;
		transition: .5s;
	}
	header nav a.nav-link:hover{
		color: var(--primary-color)!important;
		transition: .5s;
	}
	header nav a.active{
		color: var(--primary-color)!important;
	}
	header .dropdown:hover .dropdown-menu {
		display: block;
		margin-top: -10px;
	}

/* --- footer --- */
	footer{
		background-color: #222020;
		color: var(--gray);
		font-size: 14px;
	}
	footer ul.list{
		list-style: none;
		line-height: 23px;
	}
	footer h6{
		font-family: "Montserrat medium";
	}
	footer a{
		color: var(--gray)!important;
	}

	footer #direitos{
		background-color: #383434;
	}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
	/* header */
	header{
		height: 180px;
		background: linear-gradient(180deg, rgba(0,0,0,0.7) 40%, rgba(255,255,255,0) 100%);
	}
	header .navbar-brand img{
		width: 132px;
		/*margin-top: 20px;*/
	}
	header nav a.nav-link{
		font-size: 11.27px;
	}
}

@media screen and (max-width: 480px) {
	/* header */
	header .navbar-brand img{
		width: 112px;
		margin-top: 20px;
	}
	header .navbar-toggler img{
		margin-top: -10px;
	}
	header .navbar-nav {
		margin-top: 15px;
		background-color: var(--secondary-color);
		padding: 10px;
		border-radius: 10px;
	}
	
	/* footer */
	footer{
		text-align: center;
	}
	footer .container{
		width: 90%;
	}
	footer .redes{
		text-align: left;
	}
	footer img{
		margin: 0 auto;
	}
	footer #direitos img{
		visibility: hidden;
	}
}

@media screen and (max-width: 320px) {
	
}