/* --- global --- */
	a.text-primary:focus,
	a.text-primary:hover{
		color: var(--white)!important;
	}

/* --- carousel --- */
	#carousel .carousel-indicators {
	    bottom: 40px;
	}
	#carousel .carousel-indicators li{
		margin-left: 5px;
		margin-right: 5px;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: var(--primary-color);
	}
	#carousel .carousel-indicators li.active{
		margin-top: -2px;
		width: 16px;
		height: 16px;
		border: 2px solid var(--primary-color);
		background-color: transparent;
	}
	#carousel .carousel-indicators li.active:before{
		margin-top: 12px;
		margin-left: 2px;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: var(--primary-color);
	}
	#carousel .icon-down-arrow {
	    position: absolute;
	    right: 0;
	    bottom: 30px;
	    left: 0;
	    z-index: 15;
	    display: -ms-flexbox;
	    display: flex;
	    -ms-flex-pack: center;
	    justify-content: center;
	    padding-left: 0;
	    margin-right: 15%;
	    margin-left: 15%;
	    list-style: none;
	}
	#carousel .carousel-item{
		height: 870px;
		background: no-repeat center center scroll;
	    background-size: cover;
	}
	#carousel .carousel-item .carousel-caption{
		top: 44.5%;
		bottom: 44%;
	}
	#carousel .carousel-item h2{
		font-size: 45.90px;
		font-family: "Montserrat extra light";
		letter-spacing: 7px;
	}
	#carousel .carousel-item h2 span.font-weight-bold{
		font-family: "Montserrat bold";
	}

/* --- conheça nossos produtos --- */
	#nossos-produtos #porcelanato,
	#nossos-produtos #rodapes{
		background-size: cover;
		height: 864px;
	}
	#nossos-produtos #porcelanato{
		background: url(../imagens/background/porcelanato.jpg)no-repeat center center;
	}
	#nossos-produtos #rodapes{
		background: url(../imagens/background/rodape.jpg)no-repeat center center;
	}
	#nossos-produtos #porcelanato h3,
	#nossos-produtos #rodapes h3{
		font-size: 30px;
	}
	#nossos-produtos #porcelanato a.small,
	#nossos-produtos #rodapes a.small{
		font-size: 15px;
	}
	#nossos-produtos #porcelanato h3,
	#nossos-produtos #rodapes h3,
	#nossos-produtos #porcelanato a.small,
	#nossos-produtos #rodapes a.small{
		opacity: 0;
		transition: .3s ease-out;
	}
	#nossos-produtos #porcelanato:hover h3,
	#nossos-produtos #rodapes:hover h3,
	#nossos-produtos #porcelanato:hover a.small,
	#nossos-produtos #rodapes:hover a.small{
		opacity: 1;
		transition: .3s ease-out;
	}

/* --- diferenciais --- */
	#diferenciais .bg-top{
		background: url(../imagens/background/bg-diferenciais-01.jpg) no-repeat center center;
		background-size: cover;
		height: 276px;
	}
	#diferenciais .bg-bottom{
		background: url(../imagens/background/bg-diferenciais-02.jpg) no-repeat center center;
		background-size: cover;
		height: 362px;
	}
	#diferenciais h6{
		letter-spacing: 2px;
		color: var(--secondary-color);
	}
	#diferenciais p{
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 16px;
		color: var(--gray);
	}
	#diferenciais .col-12:nth-child(2){
		border-right: 1px solid var(--primary-color);
		border-left: 1px solid var(--primary-color);
	}

/* --- escolha seu ambiente --- */
	#seu-ambiente h3{
		font-size: 30px;
	}
	#seu-ambiente #quarto{
		background: url(../imagens/background/bg-quarto.jpg)no-repeat center center;
		background-size: cover;
		height: 692px;
	}
	#seu-ambiente #sala{
		background: url(../imagens/background/bg-sala.jpg)no-repeat center center;
		background-size: cover;
		height: 225px;
	}
	#seu-ambiente #cozinha{
		background: url(../imagens/background/bg-cozinha.jpg)no-repeat center center;
		background-size: cover;
		height: 225px;
	}
	#seu-ambiente #banheiro{
		background: url(../imagens/background/bg-banheiro.jpg)no-repeat center center;
		background-size: cover;
		height: 225px;
	}
	#seu-ambiente h3,
	#seu-ambiente a.small{
		opacity: 0;
		transition: .3s;
	}
	#seu-ambiente #quarto:hover h3,
	#seu-ambiente #sala:hover h3,
	#seu-ambiente #cozinha:hover h3,
	#seu-ambiente #banheiro:hover h3,
	#seu-ambiente #quarto:hover a.small,
	#seu-ambiente #sala:hover a.small,
	#seu-ambiente #cozinha:hover a.small,
	#seu-ambiente #banheiro:hover a.small{
		opacity: 1;
		transition: .3s;
	}

/* --- depoimentos --- */
	#depoimentos .col img{
		opacity: .5;
		width: 123px;
	}
	#depoimentos .active img{
		opacity: 1;
		width: 176px;
		margin-top: -25px;
	}
	#depoimentos .col .icon{
		width: 24px;
		height: 24px;
		background-color: var(--primary-color);
		position: absolute;
		top: -33px;
		left: 6px;
		opacity: 0;
	}
	#depoimentos .active .icon{
		opacity: 1;	
	}
	#depoimentos .descritivo p{
		opacity: 0;
		transition: 1s;
		display: none;
		color: var(--gray);
		font-size: 14px;
	}
	#depoimentos .active p{
		opacity: 1;
		transition: 1s;
		display: block;
	}
	#depoimentos p.autor{
		font-size: 16px;
		letter-spacing: 8px;
		color: #222020;
	}
	span.linha{
		color: var(--primary-color);
		position: relative;
		font-size: 28px;
		top: 3px;
		margin-right: 10px;
	}
	p.linha-2{
		margin-bottom: -10px;
	}
	p.linha-2 span{
		display: none;
	}
	#depoimentos p.cargo{
		letter-spacing: 1px;
	}

/* --- blog --- */
	#blog{
		margin-bottom: 100px;
	}
	#blog h6{
		letter-spacing: 1px;
		color: var(--secondary-color);
	}
	#blog p{
		font-size: 14px;
		letter-spacing: 1px;
		color: var(--gray);
		line-height: 16px;
	}
	#blog .card-footer a{
		font-size: 15px;
	}
	#blog .card{
		background-color: #f8f8f8;
	}
	#blog .card-body{
		padding: 25px 14px 0px 14px;
	}
	#blog .card-footer a:hover{
		color: var(--secondary-color)!important;
	}

@media screen and (max-width: 1920px) {
	#carousel .carousel-control-next,
	#carousel .carousel-control-prev{
		width: 49%;
	}
}

@media screen and (max-width: 1440px) {
	/* --- carousel --- */
	#carousel .carousel-control-next,
	#carousel .carousel-control-prev{
		width: 28%;
	}
}

@media screen and (max-width: 1200px) {
	/* carousel */
	#carousel .carousel-item .carousel-caption{
		top: 44.5%;
		left: 0%;
		right: 0%;
	}
	#carousel .carousel-control-next,
	#carousel .carousel-control-prev{
		width: 3%;
		opacity: 1;
	}

	/* conheça nossos produtos */
	#nossos-produtos #porcelanato,
	#nossos-produtos #rodapes{
		height: 600px;
	}
	#nossos-produtos #porcelanato h3,
	#nossos-produtos #rodapes h3,
	#nossos-produtos #porcelanato a.small,
	#nossos-produtos #rodapes a.small{
		opacity: 1;
	}

	/* diferenciais */
	#diferenciais .bg-top{
		background: url(../imagens/background/bg-diferenciais-01b.jpg) no-repeat center center;
		background-size: cover;
		height: 362px;
	}

	/* escolha seu ambiente */
	#seu-ambiente h3,
	#seu-ambiente a.small{
		opacity: 1;
	}
}

@media screen and (max-width: 992px) {
	/* carousel */
	#carousel .carousel-item .carousel-caption{
		top: 35%;
		text-align: left;
		left: 7%;
		right: 5%;
	}
	#carousel .carousel-indicators,
	#carousel .icon-down-arrow{
		display: none;
	}

	/* diferenciais */
	#diferenciais h6{
		letter-spacing: 0px;
		font-size: 15px;
	}

	/* escolha seu ambiente */
	#seu-ambiente h3,
	#seu-ambiente a.small{
		opacity: 1;
	}

	/* depoimentos */
	#depoimentos .col img{
		width: 90px;
	}
	#depoimentos .active img{
		width: 140px;
	}
}

@media screen and (max-width: 480px) {
	/* global */
	h2.h4{
		font-size: 18.22px;
		padding-top: 30px!important;
		padding-bottom: 29px!important;
	}
	#nossos-produtos h2.h4,
	#seu-ambiente h2.h4{
		padding-top: 19px!important;
		padding-bottom: 19px!important;
	}

	/* carousel */
	#carousel .carousel-item .carousel-caption{
		top: 30%;
	}
	#carousel .carousel-item{
		background-position: 32%;
	}

	/* conheça nossos produtos */
	#nossos-produtos #porcelanato,
	#nossos-produtos #rodapes{
		height: 612px;
	}
	#nossos-produtos #porcelanato .mx-auto,
	#nossos-produtos #rodapes .mx-auto{
		margin-left: 20px!important;	
	}
	#nossos-produtos #porcelanato .w-75{
		width: 100%!important;
	}

	/* diferenciais */
	#diferenciais h6{
		letter-spacing: 0px;
		font-size: 15px;
	}
	#diferenciais .bg-bottom{
		height: 276px;
	}
	#diferenciais .bg-bottom .d-flex{
		display: initial!important;
	}
	#diferenciais .carousel-diferenciais .slick-dots li{
		width: 20px;
		height: 20px;
		margin: 0px;
	}
	#diferenciais .carousel-diferenciais .slick-dots li button:before {
		font-size: 11px;
	    color: var(--primary-color);
	    opacity: 1;
	}

	/* escolha seu ambiente */
	#seu-ambiente h3,
	#seu-ambiente a.small{
		opacity: 1;
	}
	#seu-ambiente #quarto,
	#seu-ambiente #sala,
	#seu-ambiente #cozinha,
	#seu-ambiente #banheiro{
		min-height: 692px;
		max-height: 692px;
	}
	#seu-ambiente .carousel-seu-ambiente .slick-slide img{
		display: inline-block;
	}
	#seu-ambiente .carousel-seu-ambiente .slick-dots li{
		width: 20px;
		height: 20px;
		margin: 0px;
	}
	#seu-ambiente .carousel-seu-ambiente .slick-dots li button:before {
		font-size: 11px;
	    color: var(--primary-color);
	    margin-top: 20px;
	    opacity: 1;
	}

	/* depoimentos */
	#depoimentos .col{
		padding-left: 4px!important;
		padding-right: 4px!important;
	}
	#depoimentos .col img{
		/*width: 90px!important;*/
	}
	#depoimentos .active img{
		/*width: 140px!important;*/
	}
	#depoimentos .col .icon{
		display: none;
	}
	span.linha{ 
		display: none;
	}
	p.linha-2{
		text-align: center;
		margin-top: -22px;
		margin-bottom: -16px;
	}
	p.linha-2 span{
		display: block;
		color: var(--primary-color);
		font-size: 28px;
	}

	/* blog */
	#blog .carousel-diferenciais .slick-dots li{
		display: none;
	}
}

@media screen and (max-width: 375px) {
	/* global */
	h2.h4{
		font-size: 18px;
	}

	/* carousel */
	#carousel .carousel-item .carousel-caption{
		left: 7%;
		right: 5%;
	}
	#carousel .carousel-item h2{
		font-size: 38px;
		letter-spacing: 5px;
	}

	/* diferenciais */
	#diferenciais .carousel-diferenciais .p-5{
		padding-left: 10px!important;
		padding-right: 10px!important;
	}

	/* depoimentos */
	#depoimentos .col .icon{
		width: 20px;
		height: 20px;
		top: -35px;
		left: 0px;
	}
	#depoimentos .col{
		padding-left: 10px;
		padding-right: 10px;
	}
	#depoimentos .col img{
		width: 60px;
	}
	#depoimentos .active img{
		width: 100px;
	}
	#depoimentos p.autor{
		letter-spacing: 2px;
	}
}