/* --- global --- */

/* --- banner top --- */
	#banner-top{
		background: url(../imagens/banners/banner-onde-encontrar.jpg)no-repeat center center;
		background-size: cover;
		height: 446px;
	}	

/* --- conteudo --- */
	#conteudo p{
		font-size: 14px;
		color: var(--gray);
	}
	
/* --- show room premium --- */
	#show-room p{
		font-size: 14px;
		color: var(--gray);	
	}
	#show-room ul.list{
		list-style: none;
		padding: 0;
	}
	#show-room ul.list p{
		font-size: 12.48px;
		/*line-height: 2px;*/
	}

/* --- onde encontrar --- */
	#onde-encontrar .form-control{
		background-color: #eaeaea;
		color: #cecece;
	}
	#onde-encontrar select.customDropdown{
		background : url(../imagens/logos/down-arrow.png) no-repeat 96% #eaeaea;
		background-size: 14px;
		-webkit-appearance: none;
		   -moz-appearance: none;
		    -ms-appearance: none;
		     -o-appearance: none;
	}
	.form-control:focus{
		box-shadow: none;
	}

/* --- footer --- */
	footer{
		margin-top: -7px;
	}
	
@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	.container-fluid iframe{
		height: 500px;
	}
}

@media screen and (max-width: 992px) {
	#banner-top{
		height: 298px;
	}
	#banner-top h1{
		font-size: 29.93px;
	}

	/* conteudo */
	#conteudo p{
		font-size: 9.13px;
		padding-left: 40px;
		padding-right: 40px;
	}

	/* show room premium */
	#show-room h2{
		font-size: 16.3px;
	}
	#show-room p{
		font-size: 9.13px;
	}
	#show-room ul.list p{
		font-size: 8.13px;
	}
	#show-room .new-logo{
		width: 156px;
	}

	/* onde encontrar */
	#onde-encontrar h2{
		font-size: 16.3px;
	}
	#onde-encontrar .form-control{
		height: 24px;
		font-size: 9.13px;
	}
}

@media screen and (max-width: 480px) {
	/* banner */
	#banner-top .mr-auto{
		margin-left: auto;
	}
	#banner-top{
		height: 274px;
	}
	#banner-top h1{
		font-size: 24.13px;
	}

	/* conteudo */
	#conteudo p{
		padding-left: 0px;
		padding-right: 0px;
	}

	/* show room premium */
	#show-room h2{
		text-align: center;
	}

	/* onde encontrar */
	#onde-encontrar h2{
		text-align: center;
		letter-spacing: 6px;
	}
}

@media screen and (max-width: 320px) {
	#show-room h2{
		letter-spacing: 4px;
	}
	/* onde encontrar */
	#onde-encontrar h2{
		letter-spacing: 4px;
	}
}