/* --- global --- */

/* --- banner top --- */
	#banner-top{
		background: url(../imagens/banners/banner-produtos-interno.jpg)no-repeat center center;
		background-size: cover;
		height: 446px;
	}	

/* --- Aside --- */
	#aside > img{
		width: 397px;
		height: 348px;
	}
	#aside > .row img{
		width: 106px;
		height: 104px;
	}
	#aside h6{
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 1px;
		color: var(--gray);
	}
	#aside button,
	#aside .compartilhar a img,
	#aside a.compartilhe{
		transition: .3s;
	}
	#aside button:hover{
		background-color: transparent!important;
		box-shadow: 0px 2px 3px #888;
		transition: .3s;
	}
	#aside .compartilhar a img:hover{
		box-shadow: 0px 2px 3px #888;
		transition: .3s;	
	}
	#aside a.compartilhe:hover{
		color: var(--gray)!important;
		transition: .3s;
	}
	#aside .compartilhe{
		font-size: 14px;
		font-weight: bold;
		letter-spacing: 4px;
	}
	#aside .compartilhe:before{
		content: '\00b7'; 
		margin-left: 20px;
		margin-right: 20px;
		top: 0px;
		font-size: 20px;
		color: var(--primary-color);
	}

/* --- produtos --- */
	#conteudo h3{
		font-size: 25px;
		letter-spacing: 10px;
	}
	#conteudo .list{
		color: #c1bbaf;
		list-style: none;
	}
	#conteudo p.text-gray{
		font-size: 14px;
	}
	#conteudo ul.uso{
		color: var(--primary-color);
		letter-spacing: 2px;
	}
	#conteudo a.btn{
		font-size: 15px;
		padding-top: 2px;
		padding-bottom: 2px;
	}
	#conteudo a.btn:hover{
		background-color: #000!important;
	}
	
/* --- inspiração para o seu projeto --- */
	#inspiracao .carousel-item{
		height: 553px;
		background: no-repeat center center scroll;
	    background-size: cover;
	}
	#inspiracao .carousel-item .carousel-caption{
		top: 43.5%;
	}
	#inspiracao .carousel-control-next,
	#inspiracao .carousel-control-prev{
		width: 45%;
		opacity: 1;
	}
	#inspiracao p{
		letter-spacing: 14px;
	}
	#inspiracao span.linha:after { 
		content: '________________________'; 
		position: relative; 
		top: -7px;
		font-size: 20px;
		letter-spacing: 0px;
		color: var(--primary-color);
	}
	.carousel-caption {
	    right: 7%;
	    left: 7%;
	    text-align: left;
	}

/* --- produtos relacionados --- */
	#produtos-relacionados h3{
		letter-spacing: 8px;
		font-size: 25px;
	}
	#produtos-relacionados a.link-image{
		background-color: var(--primary-color);
		font-size: 15px;
		padding: 2px 10px;
		position: absolute;
		top: 120px;
		right: 28px;
		transition: .3s;
	}
	#produtos-relacionados a.link-image:hover{
		transform: scale(1.1);
		transition: .3s;
	}
	#produtos-relacionados .link-a{
		color: var(--secondary-color);
	}
	#produtos-relacionados .link-a:hover{
		color: var(--primary-color);
	}

@media screen and (max-width: 1920px) {
	/* inspiração para o seu projeto */
	#inspiracao .carousel-control-next,
	#inspiracao .carousel-control-prev{
		width: 40%;
	}
	#inspiracao span.linha:after { 
		content: '_______________________________'; 
	}
	.carousel-caption {
	    left: 23%;
	    text-align: left;
	}
}

@media screen and (max-width: 1440px) {
	.carousel-caption {
	    right: 14%;
	    left: 14%;
	    text-align: left;
	}
	/* inspiração para o seu projeto */
	#inspiracao .carousel-control-next,
	#inspiracao .carousel-control-prev{
		width: 20%;
	}
	#inspiracao span.linha:after { 
		content: '_________________________'; 
	}
}

@media screen and (max-width: 1200px) {
	/* inspiração para o seu projeto */
	#inspiracao .carousel-control-next,
	#inspiracao .carousel-control-prev{
		width: 5%;
	}
	#inspiracao p{
		letter-spacing: 12px;
	}
	#inspiracao span.linha:after { 
		content: '______________________'; 
	}
}

@media screen and (max-width: 992px) {
	/* banner */
	#banner-top{
		height: 316px;
	}
	#banner-top h1{ 
		font-size: 32.09px;
	}
	/* --- Aside --- */
	#aside > img{
		width: 277px;
		height: 243px;
	}
	#aside > .row img{
		width: 74px;
		height: 72px;
	}
	#aside h6{
		font-size: 9.78px;
	}
	#aside .compartilhar a img{
		width: 36px;
	}
	
	#aside .compartilhe{
		font-size: 9.78px;
	}

	/* --- produtos --- */
	#conteudo h3{
		font-size: 17.47px;
	}
	#conteudo .list{
		font-size: 11.18px;
	}
	#conteudo p.text-gray{
		font-size: 9.78px;
	}
	#conteudo a.btn{
		font-size: 10.48px;
	}

	/* inspiracao para seu projeto */
	#inspiracao .carousel-item{
		height: 386px;
	}
	#inspiracao .carousel-control-next,
	#inspiracao .carousel-control-prev{
		width: 5%;
	}
	#inspiracao p{
		font-size: 11.7px;
		letter-spacing: 8px;
	}
	#inspiracao .carousel-item .carousel-caption {
	    top: 40.5%;
	}
	#inspiracao span.linha:after { 
		content: '__________________'; 
	}
	.carousel-caption {
	    right: 8%;
	    left: 8%;
	}

	/* --- produtos relacionados --- */
	#produtos-relacionados h3{
		font-size: 17.47px;
	}
	#produtos-relacionados a.link-image{
		font-size: 10.48px;
		top: 70px;
		right: 16px;
	}
	#produtos-relacionados .link-a{
		font-size: 11.18px;
	}
}

@media screen and (max-width: 480px) {
	/* banner */
	#banner-top{
		height: 298px;
	}
	#banner-top h1{ 
		font-size: 27.19px;
		text-align: center;
	}

	/* produtos */
	#conteudo a.btn{
		font-size: 15px;
		margin-bottom: 50px;
	}

	/* inspiracao para seu projeto */
	#inspiracao .carousel-item{
		height: 456px;
	}
	#inspiracao p{
		font-size: 14.2px;
		letter-spacing: 10px;
		line-height: 40px;
	}
	#inspiracao .carousel-item .carousel-caption{
		top: 33%;
	}
	#inspiracao span.linha:after { 
		content: ''; 
	}
	#inspiracao .carousel-control-next,
	#inspiracao .carousel-control-prev{
		width: 15%;
	}
	.carousel-caption {
	    left: 26%;
	}

	/* produtos relacionados */
	#produtos-relacionados h3{
		font-size: 21.2px;
	}
	#produtos-relacionados a.link-image{
		font-size: 12.72px;
		top: 90px;
	}
	#produtos-relacionados .link-a{
		font-size: 13.57px;
	}
}

@media screen and (max-width: 320px) {
	#banner-top h1{ 
		font-size: 22px;
		letter-spacing: 4px;
	}
	/* produtos relacionados */
	#produtos-relacionados h3{
		font-size: 15px;
	}
	/* inspiracao para seu projeto */
	.carousel-caption {
	    left: 24%;
	}
}