/* --- global --- */

/* --- banner top --- */
	#banner-top{
		background: url(../imagens/banners/banner-porcelanatos.jpg)no-repeat center center;
		background-size: cover;
		height: 446px;
	}	

/* --- Aside --- */
	#conteudo #aside .form-control{
		background-color: #eaeaea;
		color: #cecece;
		max-height: 32px;
	}
	#conteudo #aside input.customDropdown{
		background : url(../imagens/logos/loupe.png) no-repeat 96% #eaeaea;
		-webkit-appearance: none;
		   -moz-appearance: none;
		    -ms-appearance: none;
		     -o-appearance: none;
	}
	.form-control:focus{
		box-shadow: none;
	}
	#conteudo #aside h3{
		letter-spacing: 10px;
		color: var(--gray-dark);
		font-size: 25px;
	}
	#conteudo #aside ul{
		list-style: none;
	}
	#conteudo #aside ul li::before {
	  content: "\2022";
	  color: var(--gray);
	  width: 1px;
	  padding-right: 3px;
	}
	#conteudo #aside .list a{
		font-size: 14px;
	}
	#conteudo #aside .list a:hover{
		color: var(--primary-color);
	}

/* --- produtos --- */
	#conteudo .border-orange{
		border-left: 1px solid var(--primary-color);
	}
	#conteudo #produtos h3{
		letter-spacing: 8px;
		font-size: 25px;
	}
	#conteudo #produtos a.link-image{
		background-color: var(--primary-color);
		font-size: 15px;
		padding: 2px 10px;
		position: absolute;
		top: 120px;
		right: 17px;
		transition: .3s;
	}
	#conteudo #produtos .pl-md-5 a.link-image{
		right: 2px;	
	}
	#conteudo #produtos a.link-image:hover,
	#conteudo #produtos .pl-5 a.link-image:hover{
		transform: scale(1.1);
		transition: .3s;
	}
	#conteudo #produtos .link-a{
		color: var(--secondary-color);
	}
	#conteudo #produtos .link-a:hover{
		color: var(--primary-color);
	}
	#conteudo #produtos .paginacao span{
		font-size: 14px;
	}

/* --- novidades --- */
	#novidades{
		background: url(../imagens/background/bg-novidades.jpg)no-repeat center center;
		background-size: cover;
		height: 96px;
	}
	#novidades p{
		font-size: 14px;
		letter-spacing: 8px;
	}
	#novidades .form-control{
		height: 34px;
	}
	#novidades input.customDropdown{
		background : url(../imagens/logos/right-arrow-orange.png) no-repeat 96% #fff;
		background-size: 13px;
		-webkit-appearance: none;
		   -moz-appearance: none;
		    -ms-appearance: none;
		     -o-appearance: none;
	}
	::placeholder{
		color: #cecece!important;
	}

@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	/* novidades */
	#novidades p{
		font-size: 10.22px;
	}
}

@media screen and (max-width: 992px) {
	/* banner */
	#banner-top{
		height: 298px;
	}
	#banner-top h1{
		font-size: 33.51px;
	}

	/* aside */
	#conteudo #aside h3{
		font-size: 18.24px;
	}
	#conteudo #aside .list li{
		line-height: 10px;
	}
	#conteudo #aside .list a{
		font-size: 10.22px;
	}

	/* conteudo */
	#conteudo #produtos h3{
		font-size: 18.24px;
	}
	#conteudo #produtos a.link-image{
		top: 80px;
	}
	#conteudo #produtos .link-a{
		font-size: 11.68px;
	}
	#conteudo #produtos a.link-image{
		font-size: 10.95px;
	}
}

@media screen and (max-width: 480px) {
	#banner-top{
		height: 274px;
	}
	/* conteudo */
	#conteudo .border-orange{
		border-left: none;
	}
	#conteudo #produtos h3{
		letter-spacing: 8px;
		text-align: right;
	}
	#conteudo #produtos .col-6{
		padding-left: 1px;
		padding-right: 1px;
	}
	#conteudo #produtos a.link-image{
		right: 2px;
	}

	/* novidades */
	#novidades .col-7{
		padding-right: 0px;
	}
	#novidades p{
		font-size: 10.22px;
		letter-spacing: 2px;
	}
	#novidades .form-control{
		height: 25px;
		font-size: 10.22px;
	}
}

@media screen and (max-width: 320px) {
	#conteudo #produtos a.link-image{
		top: 70px;
	}

	/* novidades */
	#novidades p{
		letter-spacing: 0px;
	}
}