/* --- global --- */

/* --- banner top --- */
	#banner-top{
		background: url(../imagens/banners/banner-sobre.jpg)no-repeat center center;
		background-size: cover;
		height: 446px;
	}	

/* --- conteudo --- */
	#conteudo .row p{
		font-size: 14px;
		color: var(--gray);	
	}
	#conteudo span.text-vertical{
		position: absolute;
		bottom: 0px;
		font-size: 14px;
		letter-spacing: 5px;
	}
	span.text-vertical:before { 
		content: '____'; 
		position: relative;
		left: 12px;
		font-size: 20px;
		letter-spacing: 0px;
		margin-bottom: 15px;
		color: var(--primary-color);
	}

/* --- voce merece o melhor --- */
	#voce-merece{
		background: url(../imagens/background/bg-voce-merece.jpg)no-repeat center center;
		background-size: cover;
		height: 496px;
	}
	#voce-merece h1{
		font-size: 42px;
	}
	#voce-merece p{
		font-size: 15px;
	}
	#voce-merece .new-btn{
		padding: 8px 30px;
	}
	#voce-merece a:hover{
		color: var(--primary-color)!important;
		background-color: var(--white)!important;
		border: 1px solid var(--primary-color);
	}


@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1440px) {
	
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 992px) {
	/* conteudo */
	#conteudo h2{
		font-size: 19.67px;
	}
	#conteudo .row p{
		font-size: 9.18px;
	}
	#conteudo .row img{
		max-width: 290px;
	}
	#conteudo span.text-vertical{
		font-size: 9.18px;
	}
	span.text-vertical:before { 
		content: '____'; 
		left: 8px;
		font-size: 15px;
		letter-spacing: 0px;
		margin-bottom: 7px;
		color: var(--primary-color);
	}

	/* voce merece o melhor */
	#voce-merece{
		background: url(../imagens/background/bg-voce-merece-tablet.jpg)no-repeat center center;
		background-size: cover;
		height: 760px;
	}
	#voce-merece .container .my-auto{
		margin-left: 40px;
	}
}

@media screen and (max-width: 480px) {
	/* voce merece o melhor */
	#voce-merece .container .my-auto{
		margin-left: 12px;
	}
	#voce-merece .container p img{
		display: none;
	}
}

@media screen and (max-width: 320px) {
	/* conteudo */
	#conteudo .row img{
		max-width: 240px;
	}
}